@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Zilla Slab", serif;
  text-decoration: none;
}
header {
  background-color: #1B1919;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px; 
}

nav ul {
  list-style: none; 
  padding: 0; 
}

nav li {
  display: inline; 
  margin-right: 20px; 
}

nav a {
  text-decoration: none;
  color: #ffffff; 
}
footer {
  background-color: #1B1919;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
 
  justify-content: center;
  height: 50px;
}


header a {
  text-decoration: none;
}
header a img {
  
  width: 45px !important;
  
}
header a ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
header a ol li {
  padding: 0 10px;
}
header a .menu-item a {
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
header a .titulo-header {
  color: #fff;
  text-decoration: double;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 96px;
  grid-area: body;
}

.botonindex{
  display: flex;
}

img {
  max-width: 100%;
  display: block;
}

.boton-inicio {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);

  justify-content: space-between;
  cursor: pointer;
}

.inicio-ol {
  list-style: none;
  text-decoration: none;
}

.contenido-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 45px;
}

.imagen-player {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
}

.indexflex {
  display: flex;

  align-items: center; 
}

.boton-gm,
.boton-rp {
  margin-bottom: 10px; 
}

.contenedor-img {
  margin-bottom: 20px; 
}
.rp{
  display:flex;
}
li {
  color: #fff;
}
main {
  background-color: black;
}
main h1 {
  
  color:green;
  font-size:xx-large;
}

main p {
  
  color:white;
  margin-left: 14rem;
}

.contacto h1 {


  color:black;

}
.rp { 
  display: flex;
  justify-content:space-between;
 
}

.rp h2 {
  flex: 1; 
padding-left: 5rem;
  
}

.imagen-player {
  width: 80%; 
  height:50%;

}

h1,
h2,
h3 h4 h5 {
  color: #fff;
}

ol {
  color: #fff;
  font-family: "Zilla Slab", serif;
  font-weight: 400;
}

p {
  color: #fff;
}

.personaje-good {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}



.personaje-good h3,
.personajegoblin h3,
.personaje-lol h3 {
  text-align: center; 
  margin: 0;
  padding: 10px;
}


.tarjetas-personajes {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  overflow-x: auto;
}


.personaje,
.personajegoblin,
.personaje-lol {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}


.personaje .card,
.personajegoblin .card,
.personaje-lol .card {
  flex: 0 0 18rem;
  margin-right: 10px;
  background-color: #1B1919;
  transition: all 0.3s ease;
 
}
.personaje .card:hover,
.personajegoblin .card:hover,
.personaje-lol .card:hover {
  transform: scale(1.1); 
iframe {
  width: 100%;
  height: 315px;
}
}

.sub-titulo {
  color: #331E38;
  font-size: medium;
  font-weight: 400;
  width: auto;
  height: auto;
}

.contacto-body {
  font-family: Arial, sans-serif;
  background-color: #1B1919;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.encuesta {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

input[type=text],
input[type=password],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-size: 16px;
  margin-top: 10px;
  display: block;
}

input[type=radio],
input[type=checkbox] {
  margin-right: 5px;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=submit],
input[type=reset] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #0056b3;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.video {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.gm-ol {
  text-decoration: none;
  background-color: black;
  list-style: none;
}


@media (max-width: 768px) {
  .indexflex {
    flex-direction: column; 
  }

  .boton-gm,
  .boton-rp {
    width: 30rem;
    margin-top: 0; 
  }
  .contenedor-img  {
    width: 20rem;
  }
}


