@font-face {
    font-family: seagramtfb;
    src: url("../recursos/fuentes/seagramtfb.ttf");
}
header {
    background-color: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-decoration: none;
    grid-area: header;
}
header a {
    text-decoration: none;
}
header img {
    padding: 0px 20px;
    width: 45px !important;
}
.logo{
    padding: 0px 20px;
    width: 45px;
}
header ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}
header ol li {
    padding: 0 10px;
}

header .menu-item a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.historia-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
h1,
h2 {
    color: green;
}
ol {
    color: purple;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}
p {
    color: orangered;
}
.sub-titulo {
    color: lightgreen;
    font-size: medium;
    font-weight: 400;
    width: auto;
    height: auto;
}
.encuesta {
    background-color: purple;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.proximamente {
    background-color: darkred;
}
body {
    height: 100%;
    width: 100%;
    background-image: url(../recursos/imagenes/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    grid-area: body;
}
.botones-inicio {
    position: absolute;
    bottom: 165px;
}
.inicio-ol {
    list-style: none;
    text-decoration: none;
}
.contenido-inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 45px;
}
footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.historia-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px auto 40px;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";
}
.historia-grid .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*celular*/
@media (max-width: 768px) {
    header {
        padding: 10px;
        flex-direction: column;
    }

    header img {
        width: 30px;
    }

    header ol {
        padding: 0;
    }

    header ol li {
        padding: 5px 0;
    }
}

/* notebooks */
@media (min-width: 769px) and (max-width: 1200px) {
    header {
        padding: 20px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: seagramtfb, sans-serif, 'Zilla Slab', serif;
    background-color: violet;
}