@font-face {
    font-family: seagramtfb;
    src: url("../recursos/fuentes/seagramtfb.ttf");
}

header {
    background-color: none;
    width: 100%;
    padding: 24;
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-decoration-style: non;
}

header a {
    text-decoration: none;
}

header img {
    width: 45px;
    padding: 0px 20px;
}

header ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;

}

header ol li {
    padding: 0 10px;

}

header .class="menu-item" a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.historia-video{
    display: flex;
    align-items: normal;
    justify-content: space-between;
    flex-direction: row;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: green;
}

ol {
    color: purple;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}

p {
    color: orangered;
}
.sub-titulo{
    color: lightgreen;
    font-size: medium;
    font-weight: 400px;
    width: auto;
    height: auto;

}
.encuesta {
    background-color: purple;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.proximamente {
    background-color: darkred;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(../recursos/imagenes/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
}
.botones-inicio {
    position:absolute;
    bottom: 165px;
}
.incio-ol {
    list-style: none;
    text-decoration: none;
}
.contenido-inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 45px;
}
footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: seagramtfb, sans-serif, 'Zilla Slab', serif;
    background-color:violet;
}

@media (max-width:375px) {
    header {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }