.indexflex {
    display: flex;
    align-items: center; // Alinea los elementos al centro horizontalmente
  }
  
  .boton-gm,
  .boton-rp {
    margin-bottom: 10px; // Agrega margen inferior para separar los botones
  }
  
  .contenedor-img {
    margin-bottom: 20px; // Agrega margen inferior para separar la imagen del resto
  }
  
  .rp {
    display: flex;
  }
  
  li {
    color: #fff;
  }
  
  main {
    h1 {
      color: green;
      font-size: xx-large;
    }
  
    p {
      color: white;
      margin-left: 14rem;
    }
  }
  