header {
    background-color: #1B1919;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* Cambiar a 'space-between' para espaciar los elementos */
    align-items: center;
    padding: 10px; /* Agregar un espacio alrededor del contenido del encabezado */
  }
  
  nav ul {
    list-style: none; /* Quitar la numeración de la lista */
    padding: 0; /* Quitar el relleno predeterminado de la lista */
  }
  
  nav li {
    display: inline; /* Hacer que los elementos de la lista se muestren en línea */
    margin-right: 20px; /* Agregar margen entre los elementos de la lista */
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff; /* Cambiar el color de texto a blanco */
  }